* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: cornsilk;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px; 
}
.intro {
    text-align: center;
    margin-bottom: 300px; /* Space between the introduction and the circles */
}

.language {
    display: flex; /* Aligns horizontally */
    justify-content: space-between; /* Adds space between each circle */
    align-items: center; /* Centers the circles vertically */
    gap: 200px; /* Adds space between the three circles */
}

.svg-container {
    position: relative; /* Positioning the SVG inside this container */
    width: 160px;
    height: 160px;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px black,
                -6px -6px 10px -1px darkgray;
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px black, 
                inset -4px -4px -6px -1px darkgray, 
                -0.5px -0.5px darkgray;
}

#number1{
    font-weight: 600;
    color: cornflowerblue;
    font-size: x-large;
}
#number2{
    font-weight: 600;
    color: cornflowerblue;
    font-size: x-large;
}
#tailWind{
    font-weight: 600;
    color: cornflowerblue;
    font-size: x-large;
}

#reactJs{
    font-weight: 600;
    color: cornflowerblue;
    font-size: x-large;
}
.python{
    fill: none;
    stroke: url(#GradientColor1); 
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: python 1.5s linear forwards;
}

.typeScript{
    fill: none;
    stroke: url(#GradientColor1); 
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: typeScript 1.5s linear forwards;
}
.tailWind{
    fill: none;
    stroke: url(#GradientColor1); 
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: tailWind 1.5s linear forwards;
}
.reactJs{
    fill: none;
    stroke: url(#GradientColor1); 
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: reactJs 1.5s linear forwards;
}
svg {
    position: absolute; /* Ensure the SVG circle is placed behind the outer circle */
    top: 0;
    left: 0;
}

@keyframes python {
    100% {
        stroke-dashoffset: 262.77;
    }
}
@keyframes typeScript {
    100% {
        stroke-dashoffset: 362.82 ;
    }
}
@keyframes reactJs {
    100% {
        stroke-dashoffset: 288.39 ;
    }
}
@keyframes tailWind {
    100% {
        stroke-dashoffset: 356.71 ;
    }
}


.Programming {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.svg-container svg {
    position: absolute; 
    top: 0;
    left: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 10px 0;
}
.text-above {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro{
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color:darkred;
}